{% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
		<!-- добавить переходы на начало и конец -->
	{% if page_obj.has_previous %}
	
	<li class="page-num">
			<a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
	</li>
	{% endif %}
        {% for p in paginator.page_range %}
		<!-- блок иф проверяет, если мы на текущей странице, то номер страницы отображать как текст не как ссылку -->
		{% if page_obj.number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
		<!-- здесь проверяем если р не является текущей страницей и попадает в диапазон, то есть больше либо равен номер – 2 и меньше либо равен номер+2 -->
                   {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
                   {% endif %}
        {% endfor %}
	{% if page_obj.has_next %}
	<li class="page-num">
        <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
	</li>
{% endif %}

    </ul>
</nav>
{% endif %}

		{% if cat_selected == 0 %}
            <li class="selected">Новые поступления</li>
        {% else %}
			<li><a href="{% url 'home' %}">Новые поступления</a></li>
        {% endif %}


        {% if is_favorite %}