{% extends 'shop/base.html' %}

{% block content %}
<h1>О нас</h1>
<p>
    На нашем сайте вы можете найти обувь, одежду и другие товары, купленные из магазинов Европы и Америки
</p>
<p>
    Вы может запросить товар при помощи кнопки верхнего меню "Оставить заявку на товар"
</p>
<p>
    Все товары, которые вы видите в нашем каталоге являются 100% оригиналом
</p>
<div class="contacts">
    <h2>Наши контакты</h2>
    <p><b>WhatsApp:</b> +7999999999</p>
    <p><b>e-mail:</b> <e-mail>egiaz@yandex.ru</e-mail></p>
</div>
<ul class="share-about">
    <li>
        <p>Наш канал на YouTube</p>
        <a class="share-yut" href="https://www.youtube.com/" target="_blank" rel="nofollow"></a>

        <p>Наш телеграм бот</p>
        <a class="share-tg" href="https://t.me/ourcatalogsbot/" target="_blank" rel="nofollow"></a>
    </li>
</ul>

{% endblock %}
