{% load static %}
<!-- тег для включенных тегов -->
{% load shop_tags %}
<!-- тег для кеширования -->


<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'shop/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{% static 'shop/images/main.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static user_stylesheet %}" media="screen">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>

    <!-- добавить функционал добавления товара, так чтобы кнопка была видна только работникам и администратору -->
{% block mainmenu %}
    <div class="header">
        <ul id="mainmenu" class="mainmenu">
        <li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>

        {% for m in menu %}
            <li><a href="{% url m.url_name %}">{{m.title}}</a></li>
        {% endfor %}
        {% if request.user.is_authenticated and not request.user.is_staff %}
            <li><a href="{% url 'contact' %}">Обратная связь</a></li>
        {% endif %}
        
        {% if request.user.is_staff %}
            <li><a href="{% url 'add_item' %}">Добавить товар</a></li>
        {% elif request.user.is_authenticated and not request.user.is_staff %}
            <li><a href="{% url 'request' %}">Оставить заявку на товар</a></li>
        {% endif %}

        {% if request.user.is_authenticated %}
            <li class="last"><a href="{% url 'profile' %}">{{user.username}}</a> | <a href="{% url 'logout' %}">Выйти</a></li>
        {% else %}
            <li class="last"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
        {% endif %}


        </ul>
        <div class="clear"></div>
	</div>
{% endblock mainmenu %}


<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar слева -->


    <td valign="top" class="left-chapters">
    <ul id="leftchapters">
    
        <li><a href="{% url 'home' %}">Новые поступления</a></li>
        
        {% show_categories cat_selected=cat_selected %}
    
        <li class="share">
		<p>Наш канал</p>
		<a class="share-yt" href="https://www.youtube.com/" target="_blank" rel="nofollow"></a>
		</li>
        {% if usd %}
            <div class="valute-bar">
                <p>Курс доллара: {{ usd }}</p>
                <p>Курс евро: {{ eur }}</p>
            </div>
        {% endif %}
	</ul>
</td>

<!-- Конец Sidebar'а -->

<td valign="top" class="content">


{% block content %}
{% endblock %}


<!-- Блок пагинации страницы -->
<!-- проверяем не является ли страница единственной, чтобы зря не отображать пагинацию -->
{% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
		
    <!-- если страница не первая, то отображаем переход на предыдущую страницу  -->
	{% if page_obj.has_previous %}
        <!-- переход на 1-ю страницу -->
        <li class="page-num">
            <a href="?page=1">&lt;&lt;</a>
        </li>
        <!-- переход на следующую страницу -->
        <li class="page-num">
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        </li>
	{% endif %}
    {% for p in paginator.page_range %}
        <!-- блок иф проверяет, если мы на текущей странице, то номер страницы отображать как текст не как ссылку -->
        {% if page_obj.number == p %}
            <li class="page-num page-num-selected">{{ p }}</li>
            <!-- здесь проверяем если р не является текущей страницей и попадает в диапазон, то есть больше либо равен номер минус 2 и меньше либо равен номер + 2 -->
                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
            <li class="page-num">
                <!-- то отображаем номер страницы -->
                <a href="?page={{ p }}">{{ p }}</a>
            </li>
        {% endif %}
    {% endfor %}
    <!-- добавляем кнопку перехода на следующую страницу -->
	{% if page_obj.has_next %}
        <li class="page-num">
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        </li>
        <!-- кнопка для перехода на последнюю страницу -->
        <li class="page-num">
            <a href="?page={{ paginator.num_pages }}">&gt;&gt;</a>
        </li>
    {% endif %}
    </ul>
</nav>
{% endif %}
<!-- Конец блока пагинации страницы -->

</td></tr></table>
</td></tr>
<!-- Footer -->
<tr><td valign=top>
	<div id="footer">
		<p>&copy; 2021 Частичное или полное копирование информации с данного сайта для распространения на других ресурсах, в том числе и бумажных, строго запрещено.</p>
	</div>

</td></tr></table>
<!-- Конец footer'а и страницы -->
</body>
</html>


