<!-- доработать шаблон, чтобы отображать форму связанню с моделью -->
{% extends 'shop/base.html' %}

{% block content %}
<form action="{% url 'request' %}" method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <button type="submit">Отправить заявку</button>
</form>
{% endblock %}
